:root
{
    --color1: #D65A31;
    --color2: #222831;
    --color3: #393E46;
    --color4: #DDDDDD;
    --color5: #c1c1c1;
    --color6: #a87452;
    --box-sh: 0px 0px 10px -5px #333;
    --box-sh2: 0px 10px 15px -3px rgba(0, 0, 0, 0.44);
}
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
body 
{
    font-family: 'Open Sans', sans-serif;
    background: #2C313A;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}
.container
{
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    border: solid 1px;
}
.container header 
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    box-shadow: var(--box-sh2);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.container .hello
{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    padding-right: 15px;
    border-right: solid 3px var(--color1);

}
.container .hello h2
{
    font-size: 25PX;
    color: var(--color1);
    padding-bottom: 5px;
}
.container  .hello h2 span
{
    color: var(--color1);
}
.container  .hello p 
{
    font-size: 18PX;
    color: var(--color4);
    padding-bottom: 5px;
}
.container  .hello p span 
{
    color: var(--color1);
}
.container .home 
{
    width: 360px;
    margin-right: 45px ;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;

}
.container .home .card
{
    width:100%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-sh2);
    border-radius: 6px;
    padding: 0 15px;
    background-image: url(../image/pngwing.com\ \(7\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.container .home .card img
{
    width: 100px;
    height: 100px;
    border: solid 2px var(--color1);
    border-radius: 50%;
}
.container .home .card h2
{
    font-size: 20px;
    color: var(--color4);
}
/* ========================Shawerma======================= */

.container .Shawerma
{
    height: 100vh;
    width: 100%;
}
.container .Shawerma .head
{  
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 20px;
    border-right: solid 3px var(--color1);
}
.container .Shawerma .head .name
{
    
    padding-right: 30px;
}
.container .Shawerma .head .name h2
{
    font-size: 25PX;
    color: var(--color1);

}
.container .Shawerma .head .back
{
    rotate: 180deg;
}
.container .Shawerma .card
{
    width: 380px;
    height: 100px;
    margin-top: 30px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #222831;
    border-radius: 15px;
}
.container .Shawerma .card .name
{
    margin-top: -35px;
    margin-right: 20px;

}
.container .Shawerma .card img
{
    width: 120px;
    height: 120px;
    margin-top: -10px;
    background: var(--color3);
    border-radius: 10PX;
}
/* ========================footer======================= */
footer
{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    background-color: var(--color4);
    box-shadow: var(--box-sh);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

/* ========================animation-1======================= */

svg
{
    width: 400px;
    margin-top: -100px;
    display: block;
    margin: auto;
    position: absolute;
    margin-right: 10px;
    height: 2px;
    background-color: var(--color1);
}
path 
{
    stroke: rgb(255, 0, 0);
    stroke-width: 3px;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: path 5s alternate infinite;
}
@keyframes path {
    from {
        stroke-dashoffset: 400;
    }

    to {
        stroke: rgb(255, 0, 0);
        fill: rgb(255, 0, 0);
        stroke-dashoffset: 0;
    }
}

/* ========================animation-2======================= */

.back-animation .box li {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    /* background: rgba(208, 83, 25, 0.179); */
    animation: animate 15s linear infinite;
    bottom: -100px;
    border-radius: 6px;
    z-index: -1;
}
.back-animation .box li img
{
    opacity: 0.4;
}
.back-animation .box li:nth-child(1) {
    left: 75%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
}

.back-animation .box li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1, 5s;
    animation-duration: 10s;
    
}

.back-animation .box li:nth-child(3) {
    left: 70%;
    width: 65px;
    height: 65px;
    animation-delay: 4.5s;
    
}

.back-animation .box li:nth-child(4) {
    left: 35%;
    width: 90px;
    height: 90px;
    animation-delay: 7s;

}

.back-animation .box li:nth-child(5) {
    left: 35%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation-duration: 15s;

}

.back-animation .box li:nth-child(6) {
    left: 15%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.back-animation .box li:nth-child(7) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;

}

.back-animation .box li:nth-child(8) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 9.5s;
}

.back-animation .box li:nth-child(9) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 11.5s;

}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-1500px) rotate(360deg);
        opacity: 1;
    }
}
